footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  padding: 1rem;
}
footer > * {
  flex-basis: 20%;
}
@media (max-width: 668px) {
  footer {
    flex-direction: column;
  }
  .propriete-footer {
    margin-left: 4rem;
  }
}
