@import url(./css/navbarre.css);
@import url(./css/searchform.css);
/* navbarr */

:root {
  --lightblue: #deebff;
  --lighterblue: #f3f8ff;
  --lightgray: #f2f2f2;
}
.header {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
}
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
}
.header h1,
.header p {
  font-size: 1rem;
  margin: 0.67em 0;
}

.filtrerecherche {
  display: flex;
  align-items: center;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.fas.fa-money-bill-wave {
  color: blue;
  background-color: lightblue;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}
.recherchecondition {
  border: 2px solid lightgrey;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  transition: all 200ms;
}
.fas.fa-child {
  color: blue;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: -2px;
  width: 3rem;
  height: 3rem;
}
.fas.fa-heart {
  color: blue;
  background-color: lightblue;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}
.fas.fa-dog {
  color: blue;
  background-color: lightblue;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}
.recherchecondition span {
  font-weight: bold;
  padding: 0 1rem;
}
.recherchecondition:hover {
  background-color: var(--lighterblue);
  transform: scale(1.02);
}

.resultatrecherche {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.resultatrecherche .fas {
  color: blue;
  width: 2rem;
  height: 2rem;
  border: 1px solid lightgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appartements-list {
  display: flex;
  gap: 1rem;
}
.appartements-list div {
  border: 1px solid red;
  padding: 1rem;
  border-radius: 1rem;
}
.appartements-list .city {
  flex-basis: 66%;
}
.appartements-list .city a {
  font-weight: bold;
}
.appartements-list .popular {
  flex-basis: 33%;
}
@media (max-width: 800px) {
  .appartements-list {
    flex-direction: column;
  }
  .popular {
    order: -1;
  }
}
.city-appartement-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.city-appartement-list div {
  border: 1px solid blue;
  flex-basis: calc(33% - 1rem);
}
.appartements-list .popular-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
.appartements-list .popular-flex {
  border: 1px solid blue;
}
.appartements-list h3 {
  flex-basis: 100%;
}
@media (max-width: 800px) {
  .appartements-list .popular-flex {
    flex-direction: row;
  }
}

.appartement-card {
  background-color: white;
  border-radius: 1rem;
  padding: 0, 5rem;
  box-shadow: 0 0 16px #0000002e;
}
.appartement-card img {
  border-radius: 1rem 1rem 0rem 0rem;
  height: 10rem;
}
.appartement-card p,
.appartement-card h3 {
  margin: 0, 2rem;
}
.blue {
  color: rgb(45, 45, 231);
}
.grey {
  color: darkgray;
}
