@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap");
@import url(./css/navbarre.css);
@import url(./css/searchform.css);
@import url(./css/popular.css);
@import url(./css/footer.css);
/* navbarr */

:root {
  --blue: #0065fc;
  --lightwhite: #ffffff;
  --lightblue: #deebff;
  --lighterblue: #f3f8ff;
  --lightgray: #f2f2f2;
}
html {
  scroll-behavior: smooth;
}
.header {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
}
body {
  margin: 0px;
  font-family: "Raleway", "sans-serif";
}
main {
  max-width: 1440px;
  margin: auto;
}
.header h1,
.header p {
  font-size: 1rem;
  margin: 0.67em 0;
}

.activities-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  margin-bottom: 5rem;
  justify-content: space-between;
  max-height: 40rem;
  padding: 0 2rem;
}
.activitemarseille {
  padding: 2rem 30px;
}
.activities-list > * {
  border: 1px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: transform 200ms;
  min-width: 10rem;
}
.activities-list > div:hover {
  transform: scale(1.02);
}
.dimention-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  max-width: 100%;
}
.big1 {
  grid-row: 1 / -1;
  grid-column: 1/2;
}
.big2 {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}
.medium1 {
  grid-row: 1 /4;
}
.medium2 {
  grid-row: 3/-1;
}
.small1 {
  grid-column: 2 / 3;
  grid-row: 4 / -1;
}
.small2 {
  grid-column: 4/5;
  grid-row: 1 / 3;
}
.activities-list h3 {
  margin-top: auto;
  margin-bottom: 0;
  padding: 1rem;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px,
    rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.small {
  max-height: 80%;
}
.medium1 {
  max-height: 86%;
}
@media (max-width: 992px) {
  .activities-list {
    grid-template-rows: repeat(auto-fit, 15rem);
    max-height: none;
    justify-content: center;
  }
  .activities-list > * {
    grid-column: span 1;
    grid-row: span 1;
  }
  .dimention-image {
    max-height: 12rem;
    height: 15rem;
  }
}
@media (max-width: 1300px) {
  .small {
    min-height: 100%;
  }
}
